<header id="banner" role="banner">
    <div id="heading">
        <div class="wrapGeneral">
            <h1 class="site-title">
                <a class="$logo_css_class" href="$logo_link_url">
                    <img alt="$logo_description" height="$site_logo_height" src="$images_folder/color_schemes/$colorSchemeId/logo.png" />
                </a>
            </h1>
        </div>
    </div>
    #if ($theme.getSetting("navigation-enabled") == "true")
        #navigation()
    #end
</header>