.aui {

  //Orange Theme
  .aimprosoft-orange-theme {

    background-color: #ffce9e;

    /*== Dockbar background ===*/
    .dockbar {
      .navbar-inner {
        .container {
          background-color: #FF6233;
        }
        .nav {
          > li {
            background-color: #FF6233;
            > a {
              background-color: #FF6233;
              color: #fff;
              > span.user-notifications-count {
                background-color: #FF6233;
                border: 1px solid #ff5c02;
              }
            }
          }
        }
        .nav-add-controls {
          > li {
            background-color: #FF6233;
            > a {
              background-color: #FF6233;
            }
          }
        }
      }
    }

  }

}