.aui {
  //Blue Theme
  .aimprosoft-blue-theme {
    background-color: #ccccff;
    /*== Dockbar background ===*/
    .dockbar {
      .navbar-inner {
        .container {
          background-color: #6482C6;
        }
        .nav {
          > li {
            background-color: #6482C6;
            > a {
              background-color: #6482C6;
              color: #fff;
              > span.user-notifications-count {
                background-color: #6482C6;
                border: 1px solid #3063c6;
              }
            }
          }
        }
        .nav-add-controls {
          > li {
            background-color: #6482C6;
            > a {
              background-color: #6482C6;
            }
          }
        }
      }
    }
  }
}